@model UserProfile

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasCats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.HasChildren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.HasCats)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.User.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.User.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.User.Id">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
