@model IEnumerable<Animal>

@{
    ViewData["Title"] = "Details";
}

<h1>View</h1>

<div>
    <h4>PetMatch</h4>
    <hr />
    <table>
        @foreach (var pet in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => pet.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pet.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pet.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pet.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pet.Breed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pet.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pet.OrganizationId)
                </td>
            </tr>
        }
    </table>
</div>
<div>
   
    <a asp-action="Index">Back to List</a>
</div>
