@model IEnumerable<Animal>

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        background-color: thistle;
    }
</style>
@if (TempData.Peek("Success") != null)
{
    <p>@TempData["Success"]</p>
}
<h1>Your Pet Matches</h1>

<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Photos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Breeds)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrganizationId)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pet in Model)
            {
            <tr>
                @if (pet.Photos.Count() < 1)
                {
                    <td>
                        <p>No photo</p>
                    </td>

                }
                else
                {
                <td>
                    @{
                        var img = pet.Photos[0].Small;
                    }
                    <img src=@img width=@img.100 />
                </td>
                }
               


                <td>
                    @Html.DisplayFor(modelItem => pet.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pet.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pet.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pet.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pet.Breeds.Primary)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => pet.Url)" target="_blank">View Petfinder Profile</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pet.OrganizationId)
                </td>
                <td>
                    <a asp-controller="PetMatch" asp-action="SavePet" asp-route-id="@pet.PetId"><button class="btn btn-primary">Save pet to wish list</button></a>
                   
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>

    <a asp-controller="Home" asp-action="Index">Home</a> |   
    <a  asp-controller="Pet" asp-action="Index">Your Pets</a>
 
</div>
